@import '../moduls/vars';
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: 'Montserrat Regular', sans-serif;
    overflow-x: hidden;
}
.btn {
    background: none;
    border: none;
    font-family: 'Montserrat Semibold';
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover span {
        text-decoration: underline;
    }
    &:hover {
        opacity: .75;
    }

    & span {
        margin-left: -55px;
        
    }
    & svg {
        width: 171px;
        height: 161px;
    }
}
.dots {
    width: 546px;
    height: 546px;
    background-image: url(../img/header/dots.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
}
.facelift {
    width: 223px;
    height: 209px;
    background-image: url(../img/header/facelift.png);
    position: absolute;
}
.btn-brown {
    color: #000;
}
@import '../moduls/header';
@import '../moduls/problem';



@import '../moduls/media';
@import url(reset.css);
@import url(fonts.css);
@import url(https://allfont.ru/allfont.css?fonts=kudriashov-bold);
