@import url(reset.css);
@import url(fonts.css);
@import url(https://allfont.ru/allfont.css?fonts=kudriashov-bold);
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Montserrat Regular', sans-serif;
  overflow-x: hidden;
}

.btn {
  background: none;
  border: none;
  font-family: 'Montserrat Semibold';
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn:hover span {
  text-decoration: underline;
}

.btn:hover {
  opacity: .75;
}

.btn span {
  margin-left: -55px;
}

.btn svg {
  width: 171px;
  height: 161px;
}

.dots {
  width: 546px;
  height: 546px;
  background-image: url(../img/header/dots.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
}

.facelift {
  width: 223px;
  height: 209px;
  background-image: url(../img/header/facelift.png);
  position: absolute;
}

.btn-brown {
  color: #000;
}

.header {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #F0E3DA no-repeat url(../img/header/header_bg.jpg);
  background-position: 50%;
  background-size: cover;
  color: #fff;
  font-family: 'Montserrat Regular';
  overflow: hidden;
}

.header__inner {
  padding: 0 0 120px 0;
  position: relative;
  right: 0;
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: none;
  cursor: pointer;
  right: 0;
  top: 27px;
  z-index: 7;
}

.header__burger span {
  display: inline-block;
  height: 3px;
  width: 30px;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__burger span:last-child {
  width: 15px;
  margin-top: 15px;
}

.header__burger_active span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger_active span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -3px;
  width: 30px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__activity {
  max-width: 173px;
  padding: 33px 0 0 0;
  margin: 0 34px 0 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 158.9%;
}

.header__addresses {
  max-width: 243px;
  padding: 33px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.header__addresses-wrap {
  position: relative;
}

.header__addresses-wrap::after {
  position: absolute;
  right: 32px;
  bottom: 8px;
  content: '';
  width: 11px;
  height: 6px;
  background-image: url(../img/header/arrow-down.svg);
}

.header__social-icons {
  padding: 33px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social-icons a {
  padding-right: 34px;
}

.header__tel {
  padding: 33px 0 0 0;
  text-align: end;
  font-family: 'Kudryashov Bold', arial;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__tel a {
  position: relative;
}

.header__tel a::after {
  position: absolute;
  right: -15px;
  bottom: 9px;
  content: '';
  width: 11px;
  height: 6px;
  background-image: url(../img/header/arrow-down.svg);
}

.header__call {
  font-weight: 700;
  font-size: 12.6px;
  line-height: 15px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  padding: 0;
  margin-top: 13px;
  text-transform: uppercase;
}

.header__col-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__title {
  font-family: 'Kudryashov Regular';
  font-weight: 400;
  font-size: 60px;
  line-height: 131%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin: 68px 0 61px 0;
  max-width: 580px;
}

.header__title span {
  font-size: 80px;
  line-height: 131%;
}

.header__subtitle {
  font-weight: 400;
  font-size: 23px;
  line-height: 164.9%;
  max-width: 378px;
  margin-bottom: 57px;
}

.header__subtitle strong {
  font-family: 'Montserrat Semibold';
  font-weight: 600;
}

.header__menu_active {
  right: -15px !important;
}

.dots_header {
  top: -29px;
  right: 0px;
}

.facelift_header {
  top: 378px;
  right: 0px;
}

.problem {
  background-image: url(../img/problem/background.png);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.problem__block {
  position: absolute;
}

.problem__block_grey {
  width: 100%;
  height: 702px;
  background: #E8E8E8;
  z-index: 1;
  top: 93px;
  min-width: 644px;
}

.problem__block_brown {
  width: 100%;
  height: 384px;
  background: #F0E3DA;
  z-index: 0;
  top: 482px;
  left: -82px;
  min-width: 711px;
}

.problem__img {
  width: 100%;
  height: 100%;
  background-image: url(../img/problem/woman.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}

.problem__img::after {
  content: '';
  display: block;
  width: 245px;
  height: 84px;
  background-image: url(../img/problem/Problem.png);
  position: absolute;
  bottom: 31px;
  left: -76px;
}

.problem__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.problem__text {
  padding: 140px 0  117px 72px;
  max-width: 750px;
}

.problem__title {
  position: relative;
  z-index: 3;
  font-size: 20px;
  line-height: 105%;
  text-transform: uppercase;
  color: #312C38;
}

.problem__title_black {
  font-family: 'Kudryashev Regular';
  font-size: 88.5677px;
  line-height: 105%;
  display: inline-block;
  width: 100%;
  margin-left: -135px;
}

.problem__title_brown {
  font-family: 'Kudryashev Regular';
  font-size: 76.7587px;
  line-height: 105%;
  color: #B68C6E;
  display: inline-block;
  width: 100%;
}

.problem__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.problem__item {
  padding: 0 0 0 77px;
  max-width: 203px;
  font-size: 18px;
  line-height: 164.9%;
  color: #1D1D1A;
  margin: 55px 0;
  background-repeat: no-repeat;
  min-height: 60px;
}

.problem__item_wrinkles {
  background-image: url(../img/problem/wrinkles.png);
}

.problem__item_lips {
  background-image: url(../img/problem/lips.png);
}

.problem__item_brows {
  background-image: url(../img/problem/brows.png);
}

.problem__item_ellipse {
  background-image: url(../img/problem/ellipse.png);
}

.problem__item_chin {
  background-image: url(../img/problem/chin.png);
}

.problem__item_faces {
  background-image: url(../img/problem/faces.png);
}

.problem__col_one {
  position: relative;
  width: 50%;
}

.problem .dots_problem {
  top: 0;
  left: 40%;
}

@media (max-width: 1500.99px) {
  .problem__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .problem__col_one {
    height: 850px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .problem__block_brown {
    left: -154px;
  }
}

@media (max-width: 1400.99px) {
  .header__title {
    font-size: 50px;
    margin: 48px 0 41px 0;
    max-width: 580px;
  }
  .header__title span {
    font-size: 70px;
  }
}

@media (min-width: 1200px) {
  .header__burger {
    display: none;
  }
}

@media (max-width: 1200px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: absolute;
    z-index: 3;
    right: -1000px;
    top: 0;
    bottom: 0;
    width: 250px;
    background: #000;
    padding: 40px 15px;
    background: rgba(182, 140, 110, 0.95);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .header__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__col-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__activity {
    margin: 0;
  }
  .header__title {
    font-size: 40px;
    margin: 38px 0 31px 0;
    max-width: 380px;
  }
  .header__title span {
    font-size: 50px;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 990.99px) {
  .header {
    background-position: 40%;
  }
  .dots_header {
    display: none;
  }
  .facelift_header {
    display: none;
  }
  .problem__img {
    background-size: cover;
    width: 95%;
    height: 95%;
  }
  .problem__block_grey {
    height: 659px;
    min-width: 527px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .problem__block_brown {
    height: 335px;
    min-width: 500px;
    left: -188px;
  }
  .dots_problem {
    display: none;
  }
  .problem__text {
    padding: 0;
    max-width: 100%;
  }
  .problem__title_black {
    margin: 0;
  }
}

@media (max-width: 700.99px) {
  .header {
    padding: 0;
  }
  .header__title {
    font-size: 30px;
    margin: 18px 0 11px 0;
    max-width: 210px;
  }
  .header__title span {
    font-size: 35px;
  }
  .header__subtitle {
    font-size: 15px;
    line-height: 164.9%;
    max-width: 266px;
    margin: 0;
  }
  .logo img {
    max-width: 247px;
  }
  .btn svg {
    width: 130px;
  }
  .btn span {
    font-size: 18px;
    margin-left: -45px;
  }
  .problem__col_one {
    height: 621px;
  }
  .problem__block_grey {
    height: 415px;
    width: 329px;
    min-width: 100px;
    top: 43px;
  }
  .problem__block_brown {
    height: 155px;
    min-width: 250px;
    top: 351px;
    left: -88px;
  }
  .problem__img::after {
    background-size: cover;
    bottom: -19px;
    left: -35px;
    width: 172px;
    height: 58px;
  }
  .problem__item {
    background-size: 44px;
    padding: 0px 0 0 56px;
    max-width: 170px;
    font-size: 15px;
    line-height: 160.9%;
    margin: 44px 0;
  }
}

@media (max-width: 500.99px) {
  .problem__img {
    width: 200px;
    height: 242px;
  }
  .problem__col_one {
    height: 360px;
  }
  .problem__block_grey {
    height: 263px;
    width: 241px;
    top: 33px;
  }
  .problem__block_brown {
    height: 152px;
    min-width: 261px;
    top: 180px;
    left: -88px;
  }
  .problem__img::after {
    bottom: 7px;
    left: -26px;
    width: 92px;
    height: 31px;
  }
  .problem__title {
    left: 64px;
    top: -30px;
    max-width: 200px;
    font-size: 12px;
  }
  .problem__title_black {
    font-weight: 400;
    font-size: 37px;
    line-height: 105%;
    margin: -70px;
  }
  .problem__title_brown {
    font-weight: 400;
    font-size: 32px;
    line-height: 105%;
  }
  .problem__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .problem__item {
    margin: 24px 0;
  }
}

@media (max-width: 320.99px) {
  .logo img {
    max-width: 147px;
  }
  .header__subtitle {
    font-size: 12px;
    line-height: 164.9%;
    max-width: 166px;
  }
  .btn svg {
    width: 80px;
  }
  .btn span {
    font-size: 14px;
    margin-left: -25px;
  }
  .header {
    background-position: 36%;
  }
}
/*# sourceMappingURL=main.css.map */