@import url(reset.css);
@import url(fonts.css);
@import url(https://allfont.ru/allfont.css?fonts=kudriashov-bold);
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'montserrat', sans-serif;
}

.btn {
  background: none;
  border: none;
  font-family: 'Montserrat Semibold';
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn:hover span {
  text-decoration: underline;
}

.btn:hover {
  opacity: .75;
}

.btn span {
  margin-left: -55px;
}

.header {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: #F0E3DA no-repeat url(../img/header/header_bg.jpg);
  background-position: 50%;
  background-size: cover;
  color: #fff;
  font-family: 'Montserrat Regular';
  padding: 0 0 120px 0;
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__activity {
  max-width: 173px;
  padding: 33px 0 0 0;
  margin: 0 34px 0 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 158.9%;
}

.header__addresses {
  max-width: 243px;
  padding: 33px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.header__social-icons {
  padding: 33px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social-icons a {
  padding-right: 34px;
}

.header__tel {
  padding: 33px 0 0 0;
  text-align: end;
  font-family: 'Kudryashov Bold', arial;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__call {
  font-weight: 700;
  font-size: 12.6px;
  line-height: 15px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  padding: 0;
  margin-top: 13px;
  text-transform: uppercase;
}

.header__col-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__title {
  font-family: 'Kudryashov Regular';
  font-weight: 400;
  font-size: 60px;
  line-height: 131%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin: 68px 0 61px 0;
  max-width: 580px;
}

.header__title span {
  font-size: 80px;
  line-height: 131%;
}

.header__subtitle {
  font-weight: 400;
  font-size: 23px;
  line-height: 164.9%;
  max-width: 378px;
  margin-bottom: 57px;
}

.header__subtitle strong {
  font-family: 'Montserrat Semibold';
  font-weight: 600;
}

@media (max-width: 1400.99px) {
  .header__title {
    font-size: 50px;
    margin: 48px 0 41px 0;
    max-width: 580px;
  }
  .header__title span {
    font-size: 70px;
  }
}

@media (max-width: 1200px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    background: #000;
    height: 100vh;
    padding: 0 15px;
    background: rgba(182, 140, 110, 0.8);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: none;
  }
  .header__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__col-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__activity {
    margin: 0;
  }
  .header__title {
    font-size: 40px;
    margin: 38px 0 31px 0;
    max-width: 380px;
  }
  .header__title span {
    font-size: 50px;
  }
}

@media (max-width: 990.99px) {
  .header {
    background-position: 40%;
  }
}

@media (max-width: 700.99px) {
  .header {
    padding: 0;
  }
  .header__title {
    font-size: 30px;
    margin: 18px 0 11px 0;
    max-width: 210px;
  }
  .header__title span {
    font-size: 35px;
  }
  .header__subtitle {
    font-size: 15px;
    line-height: 164.9%;
    max-width: 266px;
    margin: 0;
  }
  .logo img {
    max-width: 247px;
  }
  .btn svg {
    width: 130px;
  }
  .btn span {
    font-size: 18px;
    margin-left: -45px;
  }
}

@media (max-width: 320.99px) {
  .logo img {
    max-width: 147px;
  }
  .header__subtitle {
    font-size: 12px;
    line-height: 164.9%;
    max-width: 166px;
  }
  .btn svg {
    width: 80px;
  }
  .btn span {
    font-size: 14px;
    margin-left: -25px;
  }
  .header {
    background-position: 36%;
  }
}
/*# sourceMappingURL=main.css.map */