.aptos {
    background: #F0E3DA url(../img/aptos/apros-bg-line.svg) no-repeat;
    padding: 215px 0 0 0;
    overflow: hidden;
}
.aptos__inner {
}
.aptos__level-one {
    display: flex;
    justify-content: space-between;
}
.aptos-img {
}
.aptos__square {
    background: #EACFBC;
    width: 832px;
    height: 632px;
    position: relative;
    z-index: 1;
    left: -55px;
}
.aptos__img {
    width: 580px;
    height: 747px;
    background: url(../img/aptos/aptos-main.jpg) no-repeat;
    position: absolute;
    left: 137px;
    bottom: 100px;
}
.aptos__signature {
    width: 167px;
    height: 85px;
    background: url(../img/aptos/Aptos.png) no-repeat;
    position: absolute;
    right: 30px;
    bottom: -61px;
}
.aptos-text {
    padding: 0 0 0 36px;
    color: #312C38;
    
}
.aptos__title span {
    position: relative;
    z-index: 1;
    display: block;
    font-size: 88.5677px;
    margin-left: -146px;
    color: #312C38;
}
.aptos__title  {
    font-family: 'Kudryashev Display';
    font-weight: 400;
    font-size: 76.7587px;
    line-height: 105%;
    letter-spacing: 4.95979px;
    text-transform: uppercase;
    color: #B68C6E;

}
.aptos__subtitle {
    font-size: 20px;
    text-transform: uppercase;
    margin: 50px 0 30px 0;
}
.aptos__discr {
    font-size: 16px;
    line-height: 180%;
    margin-top: 15px;
}
.dots_aptos {
    top: -164px;
    right: -265px;
}
.aptos__level-two {
    padding: 0 0 180px 0;
}
.aptos__info {
    padding: 91px 0 0 0 ;
    display: flex;
    justify-content: space-between;
}
.aptos__italic {
    position: relative;
    max-width: 510px;
    font-family: 'Lora Italic';
    font-style: italic;
    font-weight: 400;
    font-size: 35px;
    line-height: 154%;
    color: #B68C6E;
    margin-top: 133px;
    z-index: 3;
}
.aptos__italic::after {
    position: absolute;
    content: '';
    width: 153px;
    height: 98px;
    background: url(../img/aptos/quotes-italic.svg) no-repeat 0 0;
    background-size: cover;
    top: -22px;
    left: -87px;
    z-index: -1;
}
.aptos__info-img {
    position: relative;
    width: 100%;
}
.main-img {
    right: 0;
    top: 0;
    width: 526px;
    height: 648px;
    background: url(../img/aptos/info-main.jpg) no-repeat 0 0;
    position: absolute;
}
.second-img {
    top: 315px;
    right: 578px;
    position: absolute;
    width: 302px;
    height: 394px;
    background: url(../img/aptos/info-second.jpg) no-repeat 0 0;
}
.aptos__info-descr {
    padding: 139px 0 0 0;
 
    display: flex;
    justify-content: space-between;
}
.aptos__info-descr p {
    max-width: 575px;
    font-family: 'Montserrat Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #1D1D1A;
}