// @media only screen and (min-width: 1500.99) and (max-width: 1600.99) {
//     .problem__img::after {
//         left: -30px;
//     }
//     .problem__block_brown {
//         top: 450px;
//         left: -38px;
//     }
// }
@media (max-width: 1500.99px) {
    .problem__inner {
        flex-direction: column;
        align-items: center;
    }
    .problem__col_one {
        height: 850px;
        // width: 100%;
        display: flex;
        justify-content: center;
    }
    .problem__block_brown {
        left: -154px;
    }
}
@media (max-width: 1400.99px) {
    .header__title {
        font-size: 50px;
        margin: 48px 0 41px 0;
        max-width: 580px;
        & span {
            font-size: 70px;
        }
    }

    .aptos__square {
        width: 632px;
        height: 432px;
    }
    .aptos__img {
        width: 380px;
        height: 547px;
        background-size: cover;
    }

}
@media (min-width: 1200px) {
    .header__burger {
        display: none;
    }
}
@media (max-width: 1200px) {
    .header__menu {
        flex-direction: column-reverse;
        position: absolute;
        z-index: 3;
        right: -1000px;
        top: 0;
        bottom: 0;
        width: 250px;
        background: #000;
        // height: 100vh;
        padding: 40px 15px;
        background: rgba(182, 140, 110, 0.95);
        justify-content: flex-end;
        transition: all .5s ease;
    }
    .header__col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .header__col-wrap {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .header__activity {
        margin: 0;
    }
    .header__title {
        font-size: 40px;
        margin: 38px 0 31px 0;
        max-width: 380px;
        & span {
            font-size: 50px;

        }
    }
    .header__burger {
        display: flex;
    }
    .aptos__level-one {
        flex-direction: column;
        align-items: center;
    }
    .dots_aptos {
        display: none;
    }
    .aptos__title span {
        margin-left: -75px;
    }
    .aptos__title {
        margin: 50px 0 0 75px;
    }
    .aptos-text h2, .aptos-text p {
        margin-left: 75px;
    }
    .aptos__square {
        left: 15px;
    }
}
@media(max-width: 990.99px) {
    .header {
        background-position: 40%;
    }
    .dots_header {
        display: none;
    }
    .facelift_header {
        display: none;
    }
    .problem__img {
        background-size: cover;
        width: 95%;
        height: 95%;
    }
    .problem__block_grey {
        height: 659px;
        min-width: 527px;
        display: flex;
        align-items: end;
    }
    .problem__block_brown {
        height: 335px;
        min-width: 500px;
        left: -188px;
    }
    .dots_problem {
        display: none;
    }
    .problem__text {
        padding: 0;
        max-width: 100%;
    }
    .problem__title_black {
        margin: 0;
    }
}
@media (max-width: 700.99px) {
    .header {
        padding: 0;
    }
    .header__inner {
        padding: 0;
    }
    .header__title {
        font-size: 30px;
        margin: 18px 0 11px 0;
        max-width: 210px;
        & span {
            font-size: 35px;

        }
    }
    .header__subtitle {
        font-size: 15px;
        line-height: 164.9%;
        max-width: 266px;
        margin: 0;
    }
    .logo img {
        max-width: 247px;
    }
    .btn svg {
        width: 130px;
    }
    .btn span {
        font-size: 18px;
        margin-left: -45px;
    }
    .problem__col_one {
        height: 621px;
    }
    .problem__block_grey {
        height: 415px;
        width: 329px;
        min-width: 100px;
        top: 43px;
    }
    .problem__block_brown {
        height: 155px;
        min-width: 250px;
        top: 351px;
        left: -88px;
    }
    .problem__img::after {
        background-size: cover;
        bottom: -19px;
        left: -35px;
        width: 172px;
        height: 58px;
    }
    .problem__item {
        background-size: 44px;
        padding: 0px 0 0 56px;
        max-width: 170px;
        font-size: 15px;
        line-height: 160.9%;
        margin: 44px 0;
    }
}
@media (max-width: 500.99px) {
    .problem__img {
        width: 200px;
        height: 242px;
    }
    .problem__col_one {
        height: 360px;
    }
    .problem__block_grey {
        height: 263px;
        width: 241px;
        top: 33px;
    }
    .problem__block_brown {
        height: 152px;
        min-width: 261px;
        top: 180px;
        left: -88px;
    }
    .problem__img::after {
        bottom: 7px;
        left: -26px;
        width: 92px;
        height: 31px;
    
    }
    .problem__title { 
        left: 64px;
        top: -30px;
        max-width: 200px;
        font-size: 12px;
    }
    .problem__title_black {
        font-weight: 400;
        font-size: 37px;
        line-height: 105%;
        margin: -70px;
    }
    .problem__title_brown {
        font-weight: 400;
        font-size: 32px;
        line-height: 105%;
    }
    .problem__list {
        justify-content: center;
    }
    .problem__item {
        margin: 20px 0 0 0;
    }
    .aptos {
        padding: 110px 0 0 0;
    }
    .aptos__square {
        width: 339px;
        height: 263px;
    }
    .aptos__img {
        width: 245px;
        height: 316px;
        left: 62px;
        bottom: 39px;
    }
    .aptos__title span {
        font-size: 37px;
    }
    .aptos__title {
        font-size: 32px;
        margin: 0;;
    }
    .aptos__subtitle, .aptos__discr {
        font-size: 14px;
    }
    .aptos__subtitle {
        margin: 5px 0 23px 0;
    }
    .aptos-text {
        padding: 0;
        margin: -15px 0 0 0;
    }
    .aptos__signature {
        width: 70px;
        height: 36px;
        background-size: cover;
        right: 12px;
        bottom: -24px;
    }
}
@media (max-width: 320.99px) {
    .logo img {
        max-width: 147px;
    }
    .header__subtitle {
        font-size: 12px;
        line-height: 164.9%;
        max-width: 166px;
    }
    .btn svg {
        width: 80px;
    }
    .btn span {
        font-size: 14px;
        margin-left: -25px;
    }
    .header {
        background-position: 36%;
    }
}